:root {
  --color-text: #fff;
  --color-muted: rgba(230, 230, 230, 0.75);
  --color-accent: #2e5980;
  --color-accent-light: #2e5980;
  --background-header: #12171C;
  --background-image: linear-gradient(0deg, #2B9FEA 0%, #14517a 100%);
  --background-light: #1e262f;
  --background-middle: #171d24;
  --background-front: #12171C;
  --background-back: #0e1216;
  --background-footer: #0e1114;
  --shadow-header: 0 6px 6px 0 rgba(0,0,0,0.25);
  --shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  --button-primary-text: #fff;
  --button-primary-text-muted: #ebebeb;
  --button-primary-accent:#2e5980;
  --button-primary-accent-hover: #2e5980;
}