:root {
  --color-text: #fff;
  --color-muted: rgba(230, 230, 230, 0.75);
  --color-accent: #2B9FEA;
  --color-accent-light: #2B9FEA;
  --background-header: #1F1F1F;
  --background-image: linear-gradient(0deg, #2B9FEA 0%, #14517a 100%);
  --background-light: #3D3D3D;
  --background-middle: #3D3D3D;
  --background-front: #171717;
  --background-back: #171717;
  --background-footer: #131313;
  --shadow-header: 0 6px 6px 0 rgba(0,0,0,0.25);
  --shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  --button-primary-text: #fff;
  --button-primary-text-muted: #ebebeb;
  --button-primary-accent:#2B9FEA;
  --button-primary-accent-hover: #2B9FEA;
}