:root {
  --color-text: #fff;
  --color-muted: rgba(230, 230, 230, 0.75);
  --color-accent: #7339E9;
  --color-accent-light: #7339E9;
  --background-header: #1A1830;
  --background-image: linear-gradient(360deg, #7339E9 0%, #7339E9 100%);
  --background-light: #262444;
  --background-middle: #1f1d38;
  --background-front: #1A1830;
  --background-back: #17162a;
  --background-footer: rgb(20, 18, 36);
  --shadow-header: 0 6px 6px 0 rgba(0,0,0,0.25);
  --shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  --button-primary-text: #fff;
  --button-primary-text-muted: #ebebeb;
  --button-primary-accent:#7339E9;
  --button-primary-accent-hover: #7339E9;
}