.wrapperMain {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px 300px;
}

@media only screen and (max-width: 1600px) {
  .wrapperMain { padding: 0px 0px !important; }
}

.buttonPrimary {
  color: #fff;
  background: rgb(254,72,72);
  background-image: linear-gradient(to bottom, rgba(254,72,72,1) 0%, rgba(252,96,44,1) 100%);
  box-shadow: 0px 0px 10px rgba(252, 59, 51, 0.5);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 900;
  height: 50px;
  border: 0px;
  letter-spacing: 0.1em;
  transition: 0.5s;
  top: 0;
  position: relative;
  outline:0;
  padding: 0px;
}

.buttonPrimary a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.buttonPrimary:hover, .buttonPrimary.active {
  border-radius: 5px;
  position: relative;
  top: -5px;
  transition: 0.5s;
  letter-spacing: 0.2em;
  background-position: top center;
  box-shadow: 0px 0px 10px rgba(252, 59, 51, 0.7);
}

.marginCenter {
  text-align: center;
  margin: auto;
  position: relative;
}

.contentRoot {
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding-bottom: 250px;
  padding-top: 50px;
  box-shadow: 0px -20px 50px rgba(0, 0, 0, 0.4);
  background-size: 5%;
}

.contentRoot .headline {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

.articles {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}