.asylumbgjetblack { background-color: #000; }
.asylumbgjetwhite { background-color: #fff; }
.asylumjetblack { color: #000;}
.asylumjetwhite { color: #fff;}

.dinlineblock { display: inline-block; }

.m2rem { margin: 2rem; }
.m1rem { margin: 1rem; }
.mt2rem { margin-top: 2rem; }
.mt1rem { margin-top: 1rem; }
.mb2rem { margin-bottom: 2rem; }
.mb1rem { margin-bottom: 1rem; }
.mr2rem { margin-left: 2rem; }
.mr1rem { margin-left: 1rem; }
.mr2rem { margin-right: 2rem; }
.mr1rem { margin-right: 1rem; }

.mAuto { margin: auto; }
.mtAuto { margin-top: auto; }
.mbAuto { margin-bottom: auto; }
.mlAuto { margin-left: auto; }
.mrAuto { margin-right: auto; }


.asylumcarousel h1 { font-size: 68px; }
.asylumcarousel h3 { font-size: 20px; }
.asylumcarousel h3 { margin-top: 1rem; }

.asylumcarousel .asylumimg {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  background-position-x: center;
}

.asylumimg::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  background-image: url("http://localhost:3000/pattern.png");
  background-size: cover;
  opacity: 0.2;
}

.asylumcarousel {
  background-color: var(--color-dark);
}