.asylumbgjetblack { background-color: #000; }
.asylumbgjetwhite { background-color: #fff; }
.asylumjetblack { color: #000;}
.asylumjetwhite { color: #fff;}

.dinlineblock { display: inline-block; }

.m2rem { margin: 2rem; }
.m1rem { margin: 1rem; }
.mt2rem { margin-top: 2rem; }
.mt1rem { margin-top: 1rem; }
.mb2rem { margin-bottom: 2rem; }
.mb1rem { margin-bottom: 1rem; }
.mr2rem { margin-left: 2rem; }
.mr1rem { margin-left: 1rem; }
.mr2rem { margin-right: 2rem; }
.mr1rem { margin-right: 1rem; }

.mAuto { margin: auto; }
.mtAuto { margin-top: auto; }
.mbAuto { margin-bottom: auto; }
.mlAuto { margin-left: auto; }
.mrAuto { margin-right: auto; }

.asylumcarousel {
  display: flex;
  font-family: 'Inter', sans-serif;
  padding-top: 60px;
  height: 350px;
  background-color: #000;
  color: #fff;
}

.asylumcarousel h1 { font-size: 68px; }
.asylumcarousel h3 { font-size: 18px; }

.asylumcarousel .asylumimg {
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  background-position-x: center;
}