:root {
  --color-text: #fff;
  --color-muted: rgba(230, 230, 230, 0.75);
  --color-accent: #B3A259;
  --color-accent-light: #B3A259;
  --background-header: rgb(36, 43, 51);
  --background-image: rgb(25, 30, 36);
  --background-light: rgb(51, 61, 71);
  --background-middle: rgb(36, 43, 51);
  --background-front: rgb(23, 28, 33);
  --background-back: rgb(25, 30, 36);
  --background-footer: rgb(19, 22, 27);
  --shadow-header: 0 6px 6px 0 rgba(0,0,0,0.25);
  --shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  --button-primary-text: #fff;
  --button-primary-text-muted: #ebebeb;
  --button-primary-accent:rgb(179, 162, 89);
  --button-primary-accent-hover: #B3A259;
}