:root {
  --color-text: #fff;
  --color-muted: rgba(230, 230, 230, 0.75);
  --color-accent: #34AA2F;
  --color-accent-light: #34AA2F;
  --background-header: #1F1F1F;
  --background-image: linear-gradient(0deg, #34AA2F 0%, #2d8229 100%);
  --background-light: #1F1F1F;
  --background-middle: #1F1F1F;
  --background-front: #181818;
  --background-back: #181818;
  --background-footer: #1F1F1F;
  --shadow-header: 0 6px 6px 0 rgba(0,0,0,0.25);
  --shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
  --button-primary-text: #fff;
  --button-primary-text-muted: #ebebeb;
  --button-primary-accent: #34AA2F;
  --button-primary-accent-hover: #34AA2F;
}